* {
  margin: auto;
  padding: 0; }

body {
  font-family: "Dosis", sans-serif; }
  body header .menu .menu-list {
    list-style-type: none;
    text-align: center; }
    body header .menu .menu-list li {
      display: inline-block;
      padding: 20px;
      font-weight: bold; }
      body header .menu .menu-list li a {
        text-decoration: none;
        color: #4d4d4d; }
      body header .menu .menu-list li:hover {
        background: rgba(234, 234, 234, 0.58);
        transition: background ease 1s; }
  body header:hover {
    box-shadow: 0 0 15px rgba(187, 183, 183, 0.51); }
  body .spinner-wrapper {
    background: rgba(234, 234, 234, 0.58);
    position: relative;
    top: 20px;
    margin: 5px auto;
    padding: 5px;
    height: auto;
    width: auto; }
    body .spinner-wrapper .spinner-list {
      list-style-type: none; }
      body .spinner-wrapper .spinner-list li {
        display: inline-block;
        border: 1px solid #444;
        margin: 5px; }
      body .spinner-wrapper .spinner-list .rotator {
        height: 40px;
        width: 40px;
        border: 4px solid #444;
        border-top-color: #468ade;
        border-right-color: #d81616;
        border-bottom-color: #ffed17;
        border-left-color: #22ef22;
        border-radius: 50%;
        animation: spinner1 0.5s infinite 1s; }
      body .spinner-wrapper .spinner-list .round_the_clock {
        height: 40px;
        width: 40px;
        border: 4px solid crimson;
        border-radius: 50%;
        position: relative; }
        body .spinner-wrapper .spinner-list .round_the_clock::after {
          content: "";
          height: 20px;
          width: 2px;
          background: crimson;
          position: absolute;
          top: 0;
          left: 18px;
          animation: clockhand 4s infinite;
          transform-origin: bottom right; }
      body .spinner-wrapper .spinner-list .heartbeat {
        height: 40px;
        width: 40px;
        border: 4px solid #75fbef;
        border-radius: 50%;
        position: relative; }
        body .spinner-wrapper .spinner-list .heartbeat::after {
          content: "";
          height: 20px;
          width: 20px;
          background: #3e7f86;
          border-radius: 50%;
          position: absolute;
          top: 9px;
          left: 9px;
          animation: heartbeat 1.5s infinite; }

@keyframes spinner1 {
  0% {
    transform: rotate(1deg);
    transition: rotate ease 1s; }
  25% {
    transform: rotate(90deg);
    transition: rotate ease 1s; }
  50% {
    transform: rotate(180deg);
    transition: rotate ease 1s; }
  75% {
    transform: rotate(270deg);
    transition: rotate ease 1s; }
  100% {
    transform: rotate(360deg);
    transition: rotate ease 1s; } }
@keyframes clockhand {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1.2, 1.2); }
  25% {
    transform: scale(1.4, 1.4); }
  50% {
    transform: scale(1.6, 1.6); }
  75% {
    transform: scale(1.8, 1.8); } }

/*# sourceMappingURL=master.css.map */
